.modal-content {
    border-radius: 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-right: 17px;
    background-color: transparentize($text_color, 0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 9;
    @include default-transition;
    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.breadcrumb-wrapper {
    background-color: $gray;
    padding: 3rem 0;
    position: relative;

    .title-page {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .breadcrumb {
        background-color: transparent;
        margin-bottom: 0;
        font-size: 1rem;
        padding: 0;
        line-height: 1;
        @include element-mb-0;
    }

    // .breadcrumb-item+.breadcrumb-item::before {
    //     color: inherit;
    //     content: ">";
    // }
}

/* lightbox */
.lightgallery {
    margin-bottom: 0;
    li {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        max-width: 80px;
        cursor: pointer;
    }
}

.media {
    & > a {
        margin-right: 1rem;
    }
    .button {
        margin-right: 0;
    }
    .media-body {
        @include element-mb-0;
    }
}

@media only screen and (max-width: 767px) {
    .breadcrumb-wrapper {
        display: none;
        padding-top: 1.5rem;
        .breadcrumb {
            display: none;
        }
    }
}
