/* card */
.card {
    overflow: hidden;
    // border: none;
    perspective: 10px;
    transition: all .3s ease-in-out;
    margin-bottom: 1rem;
    border-radius: 0;
    .card-img,
    .card-img-top{
        border-radius: 0;
    }
    .card-image {
        @include element-mb-0;
    }
    .card-body {
        @include element-mb-0;
        padding: 1rem;
        position: relative;
    }
    .card-footer{
        padding: 1rem;
        border: none;
        background-color: #efefef;
    }
    &:hover{
        @include box-shadow;
    }
}