/* Labels and Legends */

label {
    display: block;
}
.form-group {
    margin-bottom: 1rem;
    .show {
        position: absolute;
        top: 28px;
        right: 1px;
        cursor: pointer;
        width: 40px;
        height: 38px;
        line-height: 40px;
        text-align: center;
        @include default-transition;
        &:hover {
            background-color: $gray;
        }
        &::before {
            content: "\f070";
            @include font-awesome;
        }
        &.hide {
            &::before {
                content: "\f06e";
            }
        }
    }
    label {
        margin-bottom: 0.5rem;
        cursor: pointer;
    }
    & > label {
        font-size: 0.8rem;
    }
    &.inputFocus {
        .form-control {
            border-color: $primary_color;
            background-color: transparentize($secondary_color, 0.9);
        }
    }
    &.error {
        .form-control {
            border-color: $red;
            background-color: transparentize($red, 0.9);
        }
        .invalid-feedback {
            display: block;
        }
        .valid-feedback {
            display: none;
        }
    }
    &.filled {
        .form-control {
            border-color: $green;
            background-color: transparentize($green, 0.9);
        }
        .invalid-feedback {
            display: none;
        }
        .valid-feedback {
            display: block;
        }
    }
}

/* One Line Inputs */

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"],
textarea,
select,
.form-control {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: inline-block;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 5px 16px;
    font-size: 1rem;
    line-height: 1.8;
    color: $text_color;
    // background-color: #fff;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
    min-height: auto;
    height: auto;
    border: none;
    border: 1px solid $text_color;
    &:focus {
        outline: 0;
        box-shadow: none;
        border-color: $primary_color;
        background-color: transparentize($secondary_color, 0.9);
    }
    &:disabled {
        opacity: 0.5;
    }
}

input[type="password"] {
    padding-right: 48px;
}

/* =========== Remove arrow from input number ============ */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* ================== Remove cross icon from search ==================== */
::-ms-clear {
    display: none;
}
/* Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* custome radio button */
.radio-group {
    label[for] {
        display: inline-block;
        margin-right: 16px;
        font-size: 1rem;
    }
    input[type="radio"] {
        position: absolute;
        width: 0;
        height: 0;
        &:checked {
            ~ {
                .radio-button {
                    &::before {
                        transform: scale(0.6);
                    }
                }
            }
        }
        &:disabled {
            ~ {
                .radio-button,
                label[for] {
                    opacity: 0.5;
                }
            }
        }
    }
    .radio-button {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border: 3px solid $primary_color;
        border-radius: 50%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background-color: $secondary_color;
            transform: scale(0);
            border-radius: 50%;
            transition: all 0.1s ease-in-out;
        }
    }
}

.checkbox-group {
    label[for] {
        display: flex;
        margin-right: 16px;
        font-size: 1rem;
    }
    .checkbox-button {
        border: 2px solid $primary_color;
        // background-color: $blue;
        display: inline-block;
        width: 1rem;
        height: 1rem;
        position: relative;
        border-radius: 4px;
        &::after {
            content: "";
            position: absolute;
            display: none;
            left: 3px;
            top: 0;
            width: 6px;
            height: 10px;
            border: solid $secondary_color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            border-radius: 4px;
            vertical-align: text-bottom;
        }
    }
    input[type="checkbox"] {
        position: absolute;
        width: 0;
        height: 0;
        &:disabled {
            ~ {
                .checkbox-button,
                label[for] {
                    opacity: 0.5;
                }
            }
        }
        &:checked {
            ~ {
                .checkbox-button {
                    &::after {
                        display: block;
                    }
                }
            }
        }
    }
}

/* login form wrapper */
.user-form {
    .modal-dialog {
        max-width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .user-form {
        &#form-wrapper {
            .form-bg {
                min-height: 350px;
            }
        }
    }
}
