.plant-card,
.pot-card {
    height: 100%;
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    .discount-rate {
        color: $green;
        font-weight: 600;
        font-family: $heading_font;
    }

    &:hover {
        box-shadow: none;
        transform: none;
        .card-image {
            a {
                img {
                    &.back-img {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }

    .plant-name,
    .pot-name {
        font-size: 1.2rem;
    }

    .card-image {
        position: relative;
        &::before {
            display: none;
        }
        a {
            position: static;
            text-align: center;
            display: block;
            img {
                object-fit: cover;
                height: 300px;
                width: 100%;
                &.back-img {
                    @include default-transition;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
        }
    }

    .card-option {
        // display: none;
        @include reset-list;
        position: absolute;
        top: 1rem;
        right: 1rem;
        li {
            margin-bottom: 0.5rem;
            &:first-child {
                display: none;
            }
        }
        .light-btn {
            padding: 0;
            width: 48px;
            height: 48px;
            line-height: 48px;
            text-align: center;
        }
    }

    .card-footer {
        border-radius: 0;
        padding: 1rem;
        border: none;
        @include element-mb-0;
        position: sticky;
        position: -webkit-sticky;
        bottom: 0;
        .plant-price,
        .pot-price {
            font-size: 1.1rem;
            font-weight: 600;
            margin-bottom: 0;
        }
        .button {
            display: none;
        }
    }
}

.original-price {
    color: $dark_gray;
    padding-right: 0.25rem;
    text-decoration: line-through;
}

.tag {
    color: $dark_gray;
    display: inline-block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    font-size: 90%;
    font-weight: 600;
}

.added-to-wishlist {
    .light-btn {
        background-color: $primary_color;
        color: #ffffff;
        &:hover {
            background-color: $primary_color;
        }
    }
}

.last-card {
    // min-height: 520px;
    background-color: $primary_color;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
    a {
        color: inherit;
        text-transform: uppercase;
        &:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
        span {
            display: block;
            font-size: 1.5rem;
            text-align: center;
        }
    }
}

.owl-carousel {
    .owl-stage {
        display: flex;
    }
    .owl-item {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }
}

@media only screen and (max-width: 1199px) {
    .plant-card,
    .pot-card {
        .card-image {
            img {
                max-height: 400px;
                object-fit: cover;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .plant-card,
    .pot-card {
        .card-option {
            top: 0.5rem;
            right: 0.5rem;
            .light-btn {
                width: 40px;
                height: 40px;
                line-height: 40px;
            }
        }
        &:hover {
            .card-image {
                a {
                    img {
                        &.back-img {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    .plant-card,
    .pot-card {
        .card-image {
            a {
                img {
                    height: 200px;
                }
            }
        }
        .card-footer {
            .secondary-btn {
                span {
                    display: none;
                }
            }
        }
        .light-btn {
            background-color: transparent;
        }
        .card-body {
            padding: 0.5rem;
        }
        &:hover {
            transform: none;
        }
    }
}
