.search_container_wrapper {
    background: #fff;
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
    border-bottom: 1px solid $gray;
    padding: 2rem;
    overflow-y: auto;
    .search_container {
        // padding: 2rem 0;
        display: flex;
        width: 90%;
    }
    .close-icon {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 0.25rem;
        right: 1rem;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 16px;
            left: 4px;
            width: 24px;
            height: 1px;
            background-color: $secondary_color;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}

@media only screen and (max-width: 575px) {
    .search_container_wrapper {
        padding: 1rem;
        // .search_container {
        //     padding: 1rem 0;
        // }
        .close-icon {
            right: 0;
        }
    }
}
