$primary_color: #587330;
$primary_light: #b1d681;
$secondary_color: #3d4c53;
$text_color: #1d1d1d;
$body_font: 'Source Sans Pro',
sans-serif;
$heading_font: 'Crimson Text',
serif;
$gray: #EBEEF2;
$dark_gray: #A9A9A9;
$red: #F24C3D;
$orange: #F25C05;
$green: #4ac359;
$blue: #2474A6;
$gradient_color: linear-gradient(to right, rgba(88, 114, 48, 1) 0%, rgba(191, 179, 15, 1) 100%);
// /* Color Theme Swatches in Hex */
// $Sansevieria-plant-in-pot-on-white-table-1-hex: #EBEEF2;
// $Sansevieria-plant-in-pot-on-white-table-2-hex: #172601;
// $Sansevieria-plant-in-pot-on-white-table-3-hex: #587330;
// $Sansevieria-plant-in-pot-on-white-table-4-hex: #BFB40F;
// $Sansevieria-plant-in-pot-on-white-table-5-hex: #F2DC6B;
// /* Color Theme Swatches in RGBA */
// $Sansevieria-plant-in-pot-on-white-table-1-rgba: rgba(234, 238, 242, 1);
// $Sansevieria-plant-in-pot-on-white-table-2-rgba: rgba(23, 38, 0, 1);
// $Sansevieria-plant-in-pot-on-white-table-3-rgba: rgba(88, 114, 48, 1);
// $Sansevieria-plant-in-pot-on-white-table-4-rgba: rgba(191, 179, 15, 1);
// $Sansevieria-plant-in-pot-on-white-table-5-rgba: rgba(242, 219, 106, 1);
// /* Color Theme Swatches in HSLA */
// $Sansevieria-plant-in-pot-on-white-table-1-hsla: hsla(213, 22, 93, 1);
// $Sansevieria-plant-in-pot-on-white-table-2-hsla: hsla(84, 96, 7, 1);
// $Sansevieria-plant-in-pot-on-white-table-3-hsla: hsla(84, 40, 31, 1);
// $Sansevieria-plant-in-pot-on-white-table-4-hsla: hsla(56, 85, 40, 1);
// $Sansevieria-plant-in-pot-on-white-table-5-hsla: hsla(50, 84, 68, 1);