.contact-icons{
    font-size: 1.2rem;
    i{
        width: 48px;
        height: 48px;
        line-height: 48px;
        background-color: $primary_color;
        color: #ffffff;
        margin-bottom: 1rem;
        border-radius: 50%;
    }
}