/* header right icons */
.more-option {
    li {
        &:not(:last-child) {
            border-right: 1px solid $text_color;
        }

        a {
            display: block;
            padding: 0 0.5rem;
        }
    }
}
a[data-link="cart"],
a[data-link="wishlist"] {
    position: relative;
    .count {
        font-size: 11px;
        display: inline-block;
        color: #fff;
        background-color: $primary_color;
        border-radius: 50%;
        text-align: center;
        width: 14px;
        height: 14px;
        line-height: 14px;
        position: absolute;
        right: 0.25rem;
        bottom: 0;
    }
}


/* =============== Custom Menu Primary =============== */
.primary-menu {
    font-size: 0;
    position: relative;    
    @include reset-list;
    .heading-item {
        padding: 1rem 0;
        font-weight: 600;
    }
    .nav-item {
        font-size: .85rem;
        color: $text_color;
        // &>.nav-link{
        //     font-weight: 600;
        // }
        .nav-link {
            color: inherit;
            display: block;
            padding: 0;
            position: relative;
            padding: .75rem 1rem;
            z-index: 1;
            
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 0;
                top: 0;
                bottom: 0;
                transition: all .3s ease-in-out;
                z-index: -1;
            }

            &::before {
                left: 50%;
            }

            &::after {
                right: 50%;
            }
        }
        &:hover,
        &.active {
            &>.nav-link {
                color: #ffffff;

                &::before,
                &::after {
                    width: 51%;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }
        }
        .sub-menu-wrapper {
            clear: both;
            .sub-menu {
                li {
                    display: block;

                    a {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}

.more-sm-option{
    width: 100%;
    border-top: 1px solid $gray;
    display: flex;
    li{
        background-color: #ffffff;
        max-width: 50%;
        width: 100%;
        text-align: center;
        &:not(:last-child){
            border-right: 1px solid $gray;
        }
        i{
            display: block;
        }
        a{
            display: block;
            padding: 0.5rem;
            line-height: 1;
            span{
                font-size: 0.75rem;
            }
        }
    }
}

/* ===== Mobile Toggle Button ===== */

.mobile-menu{
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: all .2s ease-in-out;
    span {
        display: block;
        width: 32px;
        height: 1px;
        border-radius: 1px;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        background: $primary_color;
        -webkit-transition: .2s ease-in-out;
        transition: .2s ease-in-out;
        &:nth-child(1) {
            top: 10px;
            width: 32px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(2) {
            top: 20px;
            width: 24px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
        &:nth-child(3) {
            top: 30px;
            width: 16px;
            -webkit-transform-origin: left center;
            transform-origin: left center;
        }
    }
}

.close-menu{
    // position: absolute;
    // top: 2rem;
    // right: 1rem;
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    &::before,
    &::after{
        content: "";
        position: absolute;
        top: 16px;
        left: 4px;
        width: 24px;
        height: 1px;
        background-color: $secondary_color;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &::after{
        transform: rotate(-45deg);
    }
}

@media only screen and (min-width:768px){
    .dropdown {
        position: relative;
        .dropdown-items {
            @include reset-list;
            position: absolute;
            right: 0;
            top: 100%;
            min-width: 200px;
            background-color: $text_color;
            background-color: #fff;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .125);
            z-index: 9;
            display: none;
            li{
                display: block;
                border-bottom: 1px solid $gray;
                a{
                    padding: 1rem;
                }
            }
        }
    }
}

@media only screen and (min-width:992px) {
    /* Hide button on Desktop */
    .mobile-menu,
    .child-menu {
        display: none !important;
    }

    .primary-menu{
        & >.nav-item {
            display: inline-block;
            vertical-align: top;
        }            
        .nav-item {            
            &>.nav-link {
                text-transform: uppercase;
                &::before,
                &::after{
                    background-color: $secondary_color;
                }
            }
        }
    }

    .dropdown {
        .sub-menu{
            @include reset-list;
            position: absolute;
            left: 0;
            top: 100%;
            min-width: 200px;
            background-color: $text_color;
            background-color: #fff;
            box-shadow: 0 4px 4px rgba(0, 0, 0, .125);
            z-index: 9;
            display: none;
        }
        &>.nav-link{
            i{
                padding-left: .5rem;
                vertical-align: text-top;
            }
        }
    }
}

@media only screen and (max-width:991px) {
    #mainNav {
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        z-index: 9999;
        background: $gray;
        display: block;
        padding: 0;
        width: 100%;
        max-width: 300px;
        @include default-transition;
        opacity: 0;
        visibility: hidden;
        border-bottom: 1px solid $gray;
        .container{
            display: block;
            max-width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
        .mob-menu-logo{
            background-color: #fff;
            padding: 1rem;
        }
    }

    .menu-open {
        overflow: hidden;
        #mainNav{
            left: 0;
            opacity: 1;
            visibility: visible;
            overflow: auto;
        }
    }

    .primary-menu{
        display: block;
        background-color: $gray;
        i{
            width: 3rem;
            line-height: 3rem;
        }
        .nav-item{
            border-bottom: 1px solid $dark_gray;
            &:last-child{
                border-bottom: none;
            }
            .nav-link{
                padding: .75rem 1rem;
            }
            &:hover,
            &.active{
                & >.nav-link{
                    color: $text_color;
                    &::before,
                    &::after {
                        width: 51%;
                        background-color: #e1e1e1;
                    }
                }
            }
        }
        i{
            @include default-transition;
            transform: rotate(90deg);
        }
        .dropdown{
            .sub-menu {
                @include reset-list;
                padding-left: 1rem;
                
            }
            &.child-open {
                &>.nav-link{
                    i {
                        transform: rotate(180deg);
                    }
                }                
            }
            &>.nav-link{
                position: relative;
                
            }
        }
    }

    .child-menu{
        position: absolute;
        display: inline-block;
        width: 3rem;
        line-height: 3rem;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        background-color: transparentize($dark_gray, .7);
        font-size: 1.2rem;
    }

}

@media only screen and (max-width: 767px){}

@media only screen and (max-width: 575px){}